<%- include('../partials/head')%>
    <body>
        <div id="container">
            <%- include('../partials/header')%>
            <div id="content">
                <% blogposts.forEach(function(blogpost) { %>
                    <div class="blog-post">
                        <div class="blog-post-heading">
                            <form method="get" action="/edit">
                                <input name="id" style="display: none;" value="<%= blogpost.id %>">
                                <h2 class="blog-post-title"><%= blogpost.title %></h2>
                                <%  if(user !== undefined) { %>
                                <button type="submit" class="btn btn-default pull-right">Edit</button>
                                <% } %>
                                <h4 class="blog-post-date"><%= blogpost.date %></h4>
                                <h4 class="blog-post-location"><%= blogpost.city %>, <%= blogpost.country %></h4>
                                <% var image = "data:" + blogpost.contentType + ";base64," + blogpost.image %>
                                <div class="blog-post-text"><%= blogpost.content %></div>
                                <div class="portrait">
                                    <img class="blog-post-image" src="<%= image %>">
                                </div>
                            </form>
                        </div>
                    </div>
                <% });%>
            </div>
            <%- include('../partials/footer')%>
        </div>
    </body>
</html>