<%- include('../partials/head')%>
    <body>
        <div id="container">
            <%- include('../partials/header')%>
            <div id="content">
                <% blogposts.forEach(function(blogpost) { %>
                    <div class="blog-post">
                        <div class="blog-post-heading">
                            <h2 class="blog-post-title"><%= blogpost.title %></h1>
                            <h4 class="blog-post-date"><%= blogpost.date %></h3>
                            <h4 class="blog-post-location"><%= blogpost.city %>, <%= blogpost.country %></h3>
                            <%  
                                var image = "data:" + blogpost.contentType + ";base64," + blogpost.image
                            %>
                            <img class="blog-post-image" src="<%= image %>">
                            <p class="blog-post-text"><p><%= blogpost.content %></p>
                        </div>
                    </div>
                <% });%>
            </div>
            <%- include('../partials/footer')%>
        </div>
    </body>
</html>